In [ ]:
# N1_과제
input_binary = int(input())             # 이진수 입력받아 정수 형태로 input_binary에 저장
deci_num = 0                            # 십진수로 변환한 값을 저장할 deci_num

for i in range(len(str(input_binary))) :    # 입력받은 이진수의 자릿수만큼 반복
    deci_num = ((input_binary % (10 ** (i + 1))) // (10 ** i)) * (2 ** i) + deci_num    # i값이 0부터 시작하므로 이진수의 2^0자리부터 한자리씩 10^(i+1)의 나머지값에서 10^i 값으로 나눈 몫을 구해 각 자리수 구한 뒤 2^i 곱하고 deci_num에 더함

print(deci_num)                         # 변환된 deci_num 출력

In [2]:
'hello' + 'world'

'helloworld'

In [8]:
'-'.join(['hello', 'world!'])       # join함수 안의 두 문자열을 -를 중심으로 합침

'hello-world!'

In [6]:
'rabbit and banana'.split('and')        # and를 기준으로 문자열 분할

['rabbit ', ' banana']

In [7]:
'xoxoxoHELLOxoxoxo'.strip('xo')         # 문자열 좌우로 xo를 지움

'HELLO'

In [10]:
'xoxoxoHELLOxoxoxo'.lstrip('xo')        # 문자열 왼쪽만 strip

'HELLOxoxoxo'

In [11]:
'xoxoxoHELLOxoxoxo'.rstrip('xo')        # 문자열 오른쪽만 strip

'xoxoxoHELLO'

In [12]:
'red apple'.replace('red', 'green')     # red를 green으로 교체

'green apple'

In [23]:
'x1oxoxoHExoxoxoLLOxoxoxo'.strip('x1o').replace('xo', '')       # x1o를 지우고 xo를 replace를 이용해 지움

'HELLO'

In [26]:
print(hello, python)        # hello에 따옴표가 없기 때문에 문자열이 아닌 변수로 인식

NameError: name 'hello' is not defined

In [27]:
print('hello, python'       # 괄호가 닫히지 않음

SyntaxError: incomplete input (1512452771.py, line 1)

In [29]:
try:
    print(123 / 0.5)            # print문을 시도
except:                         # 에러가 날 경우
    print('!inf')               # 이 내용 출력

246.0

In [6]:
import re                   # re 패키지 import

In [31]:
re.sub('a', 'A', 'ant')         # ant의 소문자a를 대문자A로 치환

'Ant'

In [34]:
re.sub('\\d', '*', '010-1234-5678')         # 숫자 전체를 *로 치환

'***-****-****'

In [35]:
re.sub('\\S', '*', '홍길동')                # 공백이 아닌 문자 전체를 *로 치환

'***'

In [36]:
re.sub('\\D', '*', '홍길동123')             # 숫자가 아닌 문자 전체를 *로 치환

'***123'

In [37]:
re.match('H', 'HELLO123&&*')                # 문자열 시작이 H인지 확인

In [38]:
re.search('L', 'HELLO123&&*')               # 문자열에 L이 있는지 확인. 첫번째 L의 위치만 찾을 수 있음

In [39]:
re.findall('&', 'HELLO123&&*')              # 문자열 안의 &를 모두 출력

['&', '&']

In [42]:
re.finditer('\\w{2}', 'HELLO123&&*')

In [54]:
str1 = 'hello~ 000000python'
# re.sub('000000', '123456', str1)
# re.sub('\\d\\d\\d\\d\\d\\d', '123456', str1)
re.sub('\\d+', '123456', str1)                  # 6자리 이상 넘어갈 수도 있으므로 베스트는 아님

'hello~ 123456python'

In [53]:
str2 = 'hello~ 111111python'
re.sub('\\d\\d\\d\\d\\d\\d', '123456', str2)

'hello~ 123456python'

In [10]:
str3 = 'hello~ 123-456python'
re.findall('\\d\\d\\d', str3)               # 3자리 숫자만 변환

['123', '456']

In [11]:
print('안녕\n하세요\r여러')     # \r을 하면서 이미 써져있던 하세요를 여러가 덮어씀->남는 자리는 그대로 표시됨

안녕
여러요

In [18]:
print('파이썬\t이스케이프\t문자\t실습')

파이썬	이스케이프	문자	실습

In [19]:
print('파이썬\n이스케\n이프문\n자실습')

파이썬
이스케
이프문
자실습

In [22]:
txt = '파이썬오늘은\t문자열을\t배웠고,\t그\t지식을\t이용해서\t문자열\t수정을\t해\t봅시다.\n파이썬'
txt1 = re.findall('[가-힣]', txt)           # 모든 한글만 리스트로 저장
for i in txt1:
    print(i, end='')                        # 리스트의 원소들을 하나씩 출력하고 끝을 공백이나 줄바꿈 없이 출력

파이썬오늘은문자열을배웠고그지식을이용해서문자열수정을해봅시다파이썬

In [29]:
txt2 = re.sub(',', ',\n', txt)              # 콤마를 콤마+줄바꿈 개행문자로 변환
print(txt2)

파이썬오늘은	문자열을	배웠고,
	그	지식을	이용해서	문자열	수정을	해	봅시다.
파이썬

In [25]:
txt3 = re.sub('파이썬', '', txt)        # 파이썬을 치환을 이용해 제거
print(txt3)

오늘은	문자열을	배웠고,	그	지식을	이용해서	문자열	수정을	해	봅시다.

In [36]:
txt4 = re.sub(',% ', ',%\n', re.sub('\t', '% ', txt3))      # 파이썬이 제거된 문자열에서 \t를 %로 다시 치환해주고 거기서 다시 ',% '를 줄바꿈까지 추가해 치환
print(txt4)
# txt5 = re.sub('파이썬', '', re.sub('\t', '% ', txt2))
# print(txt5)

오늘은% 문자열을% 배웠고,%
그% 지식을% 이용해서% 문자열% 수정을% 해% 봅시다.